<div>
    <h6>Assignment Question Component</h6>
    <div class="row">
        <div class="col-12">
            <p>
                A question is an utterance which typically functions as a request for information, which is expected to be provided in the form of an answer
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="saveResponse()">Save Response</button>
        </div>
    </div>
</div>
