<div class="container">
  <h1>FRQ POC</h1>
  <br/>
  <div class="row">
    <div class="col-12 border">
      <app-consumer-one></app-consumer-one>
    </div>
  </div>
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <div class="col-12 border">
      <app-consumer-two></app-consumer-two>
    </div>
  </div>
</div>