<div class="row">
    <div class="col-6">
        <app-assignment-question (saveResponse)="saveResponse()"></app-assignment-question>
        <br/>
    </div>
    <div class="col-6">
        <app-score (saveScore)="saveScore()"></app-score>
        <br/>
    </div>
</div>
